name: CI Demo PNPh

run-name: Event triggered by @${{ github.actor }} for each push
on:
  push:

jobs:
  test-java-junit:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout le code
        uses: actions/checkout@v4

      - name: Configuration de Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven' # Optionnel : remplace par 'gradle' si besoin pour gagner du temps

      # Ajoute ici ta commande de test, par exemple :
      # - name: Run tests
      #   run: mvn test